*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-nav{
    width: 100%;
}

.admin-nav li{
  width: 100%;
  margin-bottom: 20px;

}

.admin-nav li i {
    margin-right: 10px;
}

.transit {
    transform: translateX(0%);
    transition: .3s;
}