.ql-container {
    font-size: 15px; /* Adjust the font size as needed */
    line-height: 8.5px;  
}

.ql-editor {
    white-space: pre-line; /* CSS property to preserve white spaces */
  }
  
  .ql-editor p {
    margin: 0;
  }