#features-container {
    background: #091F2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#features-img {
    background-image: url('../images/feature_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

