@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.hero-section{
    background-image: url('../images/hero_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    display: flex;
    align-items: center;
 
}

.hero-section div{
    display: flex;
    flex-direction: column;
}

.hero-section div h1{
    text-shadow: 1px 1px 5px black;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    font-family: "Black Ops One", system-ui;}


#content p{
    font-size: 20px;
    background-color: #3dc9c488;
    color: rgba(24, 17, 17, 0.945);
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

#content div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
   margin: 20px 0px;
   color: rgb(233, 224, 224);
}


#content div button{
    background-color: #D3B368;
    border-radius: 5px;
}