.hero-section{
    background-image: url('../images/hero_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    display: flex;
    align-items: center;
 
}

.hero-section div{
    display: flex;
    flex-direction: column;
}

.hero-section div h1{
    /* width: 400px; */
    font-weight: bolder;
    color: white;
    font-size: 40px;
}


#content p{
    color: rgb(211, 211, 211);
    font-size: 20px;
}

#content div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
   margin: 20px 0px;
   color: rgb(233, 224, 224);
}


#content div button{
    background-color: #D3B368;
    border-radius: 5px;
}